/* Custom Styles */
body {
  font-family: Arial, sans-serif;
}

/* Gradient Background */
.bg-blue-gradient {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* Navbar Padding */
.navbar {
  padding: 1rem 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 100;
}

/* Carousel Styling */
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
  padding: 2rem;
  border-radius: 1rem;
  bottom: 20%;
  left: 10%;
  right: auto;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.25rem;
}

/* Card Styling */
.card {
  border: none;
  border-radius: 1rem; /* Rounded style */
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Icon Styling */
.fas {
  color: #2575fc;
}

/* Form Styling */
.form-control,
.form-select,
.btn {
  border-radius: 0.75rem; /* Rounded style */
}

/* Footer Styling */
footer {
  padding: 2rem 0;
}
